<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />


        <link rel="stylesheet" href='../stylesheets/stylesheet.css'/>
        <title>DeepDream Casus BD02:AI</title>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Google Deep Dream</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ai">Artificial Intelligence</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/NeuralNetworks">Neural Networks</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <h1 container="chapterh">Neural Network</h1>
        </div>
        
        
        <br>
        <br>
        <br>
        

        <div class="container section">
            <div class="row">
                <div class="col-md-6">
                    <h3>Menselijk brein</h3>
                    <p>Zo wordt in het menselijk brein een complex netwerk van neuronen gecreëerd. Hetzelfde concept van het netwerk van neuronen wordt gebruikt in algoritmen voor machine learning. In dit geval worden de neuronen kunstmatig op een computer aangemaakt. Door veel van dergelijke kunstmatige neuronen met elkaar te verbinden, ontstaat een kunstmatig neuraal netwerk. Neurale netwerken worden getraind en aangeleerd, net zoals het zich ontwikkelende brein van een kind wordt getraind. Ze kunnen niet direct voor een bepaalde taak worden geprogrammeerd. In plaats daarvan worden ze zo getraind dat ze zich kunnen aanpassen aan de veranderende input.</p>
                </div>
                <div class="col-md-6">
                    <img src="https://th.bing.com/th/id/OIP.veRCNI3szPDAMsVuTpPnmQHaE8?pid=ImgDet&rs=1" alt=""/>
                    <p>image source: https://www.efma.com/article/2531-how-machine-learning-can-help-banks-become-customer-centric-rock-stars</p>  
                </div>
            </div>


            <br>
            <br>
            <br>


            <div class="row">
                <div class="col-md-6">
                    <img src="https://static.wixstatic.com/media/6d69bb_7b9d54b559824a1491398e31d2c6ad7e~mv2.gif" width="100%" height="100%" alt=""/>
                    <p>image source: https://www.theaibuddy.com/post/cnn-architecture-series-hands-on-with-alexnet-part-ii</p>
                </div>
                <div class="col-md-6">

                    <br>
                    <br>

                    <h3>Wat doet het?</h3>
                    <p>Neurale netwerken zijn geïnspireerd op de architectuur van neuronen in het menselijk brein. Elke Neuron brengt een gewogen stem uit. Om "leren" te repliceren, past een algoritme deze zogenaamde gewichten aan op basis van de gegevens die het ontvangt. Op deze manier heeft een neuraal netwerk elke keer dat het zijn taak voltooit, een grotere kans om het de volgende keer beter te doen en te leren.</p>
                </div>
            </div>


            <br>
            <br>
            <br>
            <br>
        
        
            <div class="row">
                <div class="col-md-6">
                    <h3>Revolutionairy Applications</h3>
                    <p>
                        Neurale netwerken zijn krachtige algoritmen die hebben geleid tot enkele revolutionaire toepassingen die voorheen niet mogelijk waren, inclusief maar niet beperkt tot de volgende:
                        <ul>
                            <li><b>Beeld- en videoherkenning: </b> Vanwege de mogelijkheden voor beeldherkenning hebben we nu zaken als gezichtsherkenning voor beveiliging</li>
                            <li><b>Aanbevelingssystemen: </b> Heb je je ooit afgevraagd hoe Netflix altijd series en films kan aanbevelen die je ECHT leuk vindt? Ze maken hoogstwaarschijnlijk gebruik van neurale netwerken om die ervaring te bieden.</li>
                            <li><b>Audioherkenning: </b> Voor het geval het je nog niet is opgevallen, 'OK Google' en Seri zijn enorm beter geworden in het begrijpen van onze vragen en wat we zeggen. Dit succes kan worden toegeschreven aan neurale netwerken.</li>
                            <li><b>Autonoom rijden: </b> Ten slotte is onze vooruitgang in de richting van het perfectioneren van autonoom rijden grotendeels te danken aan de vooruitgang in kunstmatige intelligentie en neurale netwerken.</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="https://th.bing.com/th/id/OIP.01b2nO8_qJLfdKXyT3G4pgHaFN?pid=ImgDet&rs=1" alt=""/>
                    <p>image source: https://vinodhakumara2681997.medium.com/neural-networks-industrial-use-case-43a7e9545cc7</p>   
                </div>
            </div>
        </div>
           
        <!-- Optional JavaScript; choose one of the two! -->
        
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        
        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        -->

    </body>
</html>